APP_NAME=PWAMS
APP_ENV=production
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=pwams
DB_PASSWORD=change_me_in_production
DB_NAME=pwams
DB_SSLMODE=require

SUPER_ADMIN_USERNAME=komikukan
SUPER_ADMIN_EMAIL=kk6176078@gmail.com
SUPER_ADMIN_PASSWORD=Ko123456@

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=noreply@example.com
